pipeline/ForEach_copy_tosqldb.json
{
	"name": "ForEach_copy_tosqldb",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from blob to sqldb_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "filename",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": {
											"value": "@item().Filename",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Customer",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Customer",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Gender",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Gender",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Product_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Product_code",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Price",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Price",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "filename",
												"type": "String"
											},
											"sink": {
												"name": "Filename",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_ablob_input_sales_folder",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_adf_demo_sales",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "FileName",
						"value": "@item{}.name"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_output_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greaterOrEquals(activity('Get Metadata1').output.lastModified,addDays(utcNow(),-7))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy data from blob to sqldb",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "FileName",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFileName": "*.csv",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": "Delete from dbo.Sales",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "Customer",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Customer",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Gender",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Gender",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Product_code",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Product_code",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "Price",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "Price",
												"type": "String",
												"physicalType": "varchar"
											}
										},
										{
											"source": {
												"name": "filename",
												"type": "String"
											},
											"sink": {
												"name": "Filename",
												"type": "String",
												"physicalType": "varchar"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_ablob_input_sales_folder",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_sql_adf_demo_sales",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"filename": {
				"type": "string"
			}
		},
		"annotations": []
	}
}